* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fdf0e9;
  font-weight: 800;
  font-size: 72px;
  letter-spacing: -2px;
}

h2 {
  font-weight: 800;
  font-size: 56px;
  color: white;
  letter-spacing: -1px;
}

h3 {
  font-weight: 800;
  font-size: 40px;
  color: white;
}

h4 {
  font-size: 24px;
  color: #391400;
}

h5 {
  font-size: 16px;
  color: #ef6d58;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

p {
  font-weight: 400;
  font-size: 16px;
  color: white;
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 40px;
  }
}
.container,
#Main, .section, .sectiontwo {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 5%;
}

.mainSection {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 5%;
}

body {
  font-family: "Epilogue", sans-serif;
}

.main .sectiontwo .cards .Three .img {
  width: 370px;
  height: 416px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  border: 1px solid parent-color;
  border-radius: 6px;
  transition: all 1s;
  opacity: 100%;
  box-shadow: rgba(0, 0, 0, 0.378) 1px 1px 15px;
}
.main .sectiontwo .cards .Three .img:hover {
  transform: scale(1.0099);
  background-color: #fdf0e9;
  opacity: 80%;
  cursor: pointer;
}

.main .sectiontwo .cards .Three .img .Text .BtN .img-btn {
  width: 84px;
  height: 38px;
  border-radius: 19px;
  background-color: #ffffff;
  color: #391400;
  border: none;
  cursor: pointer;
  transition: all 1.5s;
  transform: 1.01;
}
.main .sectiontwo .cards .Three .img .Text .BtN .img-btn:hover {
  background-color: #391400;
  color: white;
}

.main .sectiontwo .load-btn .LoadBtn {
  width: 170px;
  height: 48px;
  border-radius: 6px;
  background-color: white;
  color: #391400;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.378) 1px 1px 15px;
  transition: all 1.5s;
}
.main .sectiontwo .load-btn .LoadBtn:hover {
  background-color: #391400;
  color: white;
}

.sectionthree .mainSection .left .load-btn .LoadBtn {
  width: 154px;
  height: 48px;
  border-radius: 6px;
  border: none;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #391400;
  transition: all 2s;
}
.sectionthree .mainSection .left .load-btn .LoadBtn:hover {
  background-color: #391400;
  color: white;
}

.main .sectiontwo .cards .Three .img .Text {
  width: 370px;
  height: 365px;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-left: 48px;
}

#header .header .contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: transparent;
  width: 138px;
  height: 48px;
  font-weight: 900;
  cursor: pointer;
  transition: all 1.5s;
}
#header .header .contact-btn:hover {
  background-color: #fff;
  color: #312b49;
}

#header .header .contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: transparent;
  width: 138px;
  height: 48px;
  font-weight: 900;
  cursor: pointer;
  transition: all 1.5s;
}
#header .header .contact-btn:hover {
  background-color: #fff;
  color: #312b49;
}

#header {
  background-color: #312b49;
  padding: 10px 0;
}
#header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 515px;
}
#header .header nav ul li {
  color: #fff;
  cursor: pointer;
}
#header .header .menu {
  display: none;
}
@media only screen and (max-width: 992px) {
  #header .header nav {
    display: none;
  }
  #header .header .contact-btn {
    display: none;
  }
  #header .header .menu {
    display: block;
  }
}

.portfolio {
  background-color: #312b49;
}
.portfolio .section {
  padding: 96px 0 66px;
  text-align: center;
}
.portfolio .section .sentences {
  padding-top: 24px;
}
.portfolio .section .sentences p {
  line-height: 32px;
  opacity: 64%;
  color: rgba(255, 255, 255, 0.64);
}

#header .header .contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: transparent;
  width: 138px;
  height: 48px;
  font-weight: 900;
  cursor: pointer;
  transition: all 1.5s;
}
#header .header .contact-btn:hover {
  background-color: #fff;
  color: #312b49;
}

.main .sectiontwo .cards .Three .img {
  width: 370px;
  height: 416px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  border: 1px solid parent-color;
  border-radius: 6px;
  transition: all 1s;
  opacity: 100%;
  box-shadow: rgba(0, 0, 0, 0.378) 1px 1px 15px;
}
.main .sectiontwo .cards .Three .img:hover {
  transform: scale(1.0099);
  background-color: #fdf0e9;
  opacity: 80%;
  cursor: pointer;
}

.main .sectiontwo .cards .Three .img .Text {
  width: 370px;
  height: 365px;
  display: flex;
  align-items: flex-end;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-left: 48px;
}

.main .sectiontwo .cards .Three .img .Text .BtN .img-btn {
  width: 84px;
  height: 38px;
  border-radius: 19px;
  background-color: #ffffff;
  color: #391400;
  border: none;
  cursor: pointer;
  transition: all 1.5s;
  transform: 1.01;
}
.main .sectiontwo .cards .Three .img .Text .BtN .img-btn:hover {
  background-color: #391400;
  color: white;
}

.main .sectiontwo .load-btn .LoadBtn {
  width: 170px;
  height: 48px;
  border-radius: 6px;
  background-color: white;
  color: #391400;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.378) 1px 1px 15px;
  transition: all 1.5s;
}
.main .sectiontwo .load-btn .LoadBtn:hover {
  background-color: #391400;
  color: white;
}

.main {
  background-color: #fdf0e9;
}
.main .sectiontwo {
  padding-top: 68px;
}
.main .sectiontwo .dropdown {
  display: none;
}
.main .sectiontwo .list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .sectiontwo .list ul {
  display: flex;
  row-gap: 46px;
}
.main .sectiontwo .list ul li {
  padding-left: 46px;
  cursor: pointer;
  color: #391400;
  opacity: 64%;
}
.main .sectiontwo .list ul #show-all {
  opacity: 100%;
}
@media only screen and (max-width: 992px) {
  .main .sectiontwo .list {
    display: none;
  }
  .main .sectiontwo .dropdown {
    display: block;
  }
}
.main .sectiontwo .cards {
  padding-top: 68px;
}
.main .sectiontwo .cards .Three {
  display: flex;
  column-gap: 30px;
  padding-bottom: 32px;
}
.main .sectiontwo .cards .Three .img {
  background-image: url(../images/img-cards/Bitmap.png);
}
.main .sectiontwo .cards .Three .img .Text .img-text {
  margin-top: 24px;
}
.main .sectiontwo .cards .Three .img .Text .img-text h3 {
  font-weight: 800;
  font-size: 40px;
  color: white;
}
.main .sectiontwo .load-btn {
  text-align: center;
  padding: 80px 0 112px 0;
}
@media only screen and (max-width: 992px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .Text {
    width: 100px !important;
  }
  .Three {
    flex-direction: column;
    row-gap: 48px;
  }
}
footer {
  background-color: #fdf0e9;
}
footer .container .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #f3d1bf;
  line-height: 32px;
}
footer .container .top li {
  color: #391400;
}
footer .container .top i {
  background-color: #ef6d58;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  padding: 17px;
  color: #fff;
  gap: 8px;
}
footer .container .bottom {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .bottom p {
  color: #391400;
}
footer .container .bottom .left .copy {
  opacity: 64%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .bottom .right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 68px;
}

@media only screen and (max-width: 992px) {
  footer .container .top {
    flex-direction: column;
    text-align: center;
    gap: 51px;
  }
  footer .container .bottom {
    flex-direction: column;
    text-align: center;
    gap: 51px;
  }
  footer .container .bottom .copy {
    flex-direction: column;
  }
}
#header .header .contact-btn {
  border: 1px solid rgba(255, 255, 255, 0.295743);
  color: #fff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: transparent;
  width: 138px;
  height: 48px;
  font-weight: 900;
  cursor: pointer;
  transition: all 1.5s;
}
#header .header .contact-btn:hover {
  background-color: #fff;
  color: #312b49;
}

.sectionthree .mainSection .left .load-btn .LoadBtn {
  width: 154px;
  height: 48px;
  border-radius: 6px;
  border: none;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  color: #391400;
  transition: all 2s;
}
.sectionthree .mainSection .left .load-btn .LoadBtn:hover {
  background-color: #391400;
  color: white;
}

.sectionthree {
  padding-bottom: 92px;
  background-color: #fdf0e9;
}
.sectionthree .mainSection {
  display: flex;
  background-color: #ef6d58;
  width: 100%;
  border-radius: 6px;
}
.sectionthree .mainSection .left {
  margin: 96px 0 0;
  width: 50%;
}
.sectionthree .mainSection .left .ContactMeaning {
  height: 66px;
}
.sectionthree .mainSection .left p {
  margin-top: 28px;
}
.sectionthree .mainSection .left .load-btn {
  margin: 34px 0 80px;
}
.sectionthree .mainSection .right {
  width: 50%;
  margin: 41px 0 71px 56px;
}

@media only screen and (max-width: 992px) {
  .mainSection {
    flex-direction: column-reverse;
    align-items: center;
  }
  .right {
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right img {
    width: 273px;
    height: 264px;
  }
  .left {
    text-align: center;
  }
  #htwo {
    font-size: 40px !important;
    letter-spacing: 0 !important;
  }
  #paragraph {
    width: 273px;
    height: 10px;
    margin: 0;
  }
  .ContactMeaning {
    width: 100px !important;
  }
}/*# sourceMappingURL=main.css.map */